@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Plaster&family=Roboto+Mono:wght@400;500&family=Roboto+Slab:wght@400;500&family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root {
	--bg: hsl(233, 60%, 96%);
	--fg: hsl(233, 100%, 99%);
	--noire: #010101;
	--dark: hsl(230, 17%, 12%);
	background-color: var(--bg);
}

html,
body {
	background: var(--bg);
	font-family: 'Work Sans', sans-serif;
	overflow: hidden;
}

hr {
	border: 1px solid var(--noire);
}

main {
	margin-top: 1.3em;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
